%html
  %head
    %title bird looking glass
    %script{:src => 'http://be.gs/jqgcdn', :type => 'text/javascript'}
    %script{:src => 'eagle.js', :type => 'text/javascript'}
    %link{:rel => 'stylesheet', :href => 'eagle.css'}
  %body
    %h1 eagle
    #lookup
      %form{:action => '/lookup', :method => 'post'}
        %select#action{:name => 'action'}
          %option{:value => ''} --
          %option{:value => 'prefix'} lookup a bgp prefix
          %option{:value => 'asn'} lookup an asn
        %input#data{:name => 'data', :placeholder => '...', :size => '50', :type => 'text'}/
        %input#btngo{:type => 'submit', :value => 'go!'}/
    #results
      =yield
    %br
    %hr{:noshade => '#000000' }
    stuff goes here.
